<md-dialog aria-label="Add Todo" style="width: 400px;" ng-controller="TodoDialogController as dc">
  <form ng-cloak>
      <div class="md-dialog-content" style="padding-bottom: 0px;">
        <md-input-container layout-fill>
          <label>Add Todo</label>
          <input ng-model="dc.todoContent">
        </md-input-container>
      </div>
    <md-dialog-actions layout="row">
      <md-button ng-click="dc.cancel()">
       Cancel
      </md-button>
      <md-button class="md-primary" ng-click="dc.add()">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
